Source: gmp
Homepage: http://gmplib.org/
Section: libs
Priority: optional
Build-Depends: m4, debhelper (>= 7), quilt, gcc-multilib [amd64 kfreebsd-amd64 powerpc ppc64], g++-multilib [amd64 kfreebsd-amd64 powerpc ppc64]
Maintainer: Debian Science Team <debian-science-maintainers@lists.alioth.debian.org>
Uploaders: Steve M. Robbins <smr@debian.org>
Vcs-Svn: svn://svn.debian.org/svn/debian-science/packages/gmp/trunk/
Vcs-Browser: http://svn.debian.org/viewsvn/debian-science/packages/gmp/trunk/
Standards-Version: 3.9.1

Package: libgmp10
Section: libs
Priority: optional
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Multiprecision arithmetic library
 GNU MP is a programmer's library for arbitrary precision
 arithmetic (ie, a bignum package).  It can operate on signed
 integer, rational, and floating point numeric types.
 .
 It has a rich set of functions, and the functions have a regular
 interface.

Package: libgmpxx4ldbl
Section: libs
Priority: optional
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Conflicts: libgmp3, libgmpxx4
Replaces: libgmp3
Description: Multiprecision arithmetic library (C++ bindings)
 GNU MP is a programmer's library for arbitrary precision
 arithmetic (ie, a bignum package).  It can operate on signed
 integer, rational, and floating point numeric types.

Package: libgmp10-dev
Section: libdevel
Priority: optional
Architecture: any
Depends: libgmp10 (= ${binary:Version}), libgmpxx4ldbl (= ${binary:Version}), ${misc:Depends}
Provides: libgmp-dev, libgmp3-dev
Conflicts: libgmp3-dev
Replaces: libgmp3-dev
Recommends: libstdc++-dev
Suggests: libgmp10-doc, libmpfr-dev
Description: Multiprecision arithmetic library developers tools
 This development package provides the header files and the symbolic
 links to allow compilation and linking of programs that use the libraries
 provided in the libgmp10 package.
 .
 Both C and C++ bindings are present in this package.  Package
 libstdc++-dev is required to use the C++ bindings.  
 .
 The MPFR library (multiple-precision floating-point) used to be
 included, but has since been moved to package libmpfr-dev.

Package: lib32gmp10
Section: libs
Priority: optional
Architecture: amd64 ppc64 kfreebsd-amd64
Depends: ${shlibs:Depends}, ${misc:Depends}
Conflicts: libc6-i386 (<= 2.9-18)
Description: Multiprecision arithmetic library (32bit)
 GNU MP is a programmer's library for arbitrary precision
 arithmetic (ie, a bignum package).  It can operate on signed
 integer, rational, and floating point numeric types.  This
 package includes a 32 bit version of the shared library.
 .
 It has a rich set of functions, and the functions have a regular
 interface.

Package: lib32gmpxx4
Section: libs
Priority: optional
Architecture: amd64 ppc64 kfreebsd-amd64
Depends: ${shlibs:Depends}, ${misc:Depends}
Conflicts: libc6-i386 (<= 2.9-18)
Description: Multiprecision arithmetic library (C++ bindings, 32bit)
 GNU MP is a programmer's library for arbitrary precision
 arithmetic (ie, a bignum package).  It can operate on signed
 integer, rational, and floating point numeric types.  This
 package includes a 32 bit version of the shared library.

Package: lib32gmp10-dev
Section: libdevel
Priority: optional
Architecture: amd64 ppc64 kfreebsd-amd64
Depends: libgmp10-dev (= ${binary:Version}), lib32gmp10 (= ${binary:Version}), lib32gmpxx4 (= ${binary:Version}), ${misc:Depends}
Provides: lib32gmp-dev, lib32gmp3-dev
Suggests: libgmp10-doc, libmpfr-dev
Conflicts: libc6-i386 (<= 2.9-18), lib32gmp3-dev
Replaces: lib32gmp3-dev
Description: Multiprecision arithmetic library developers tools (32bit)
 This development package provides the header files and the symbolic
 links to allow compilation and linking of programs that use the
 libraries provided in the libgmp10 package.  This package includes 32
 bit versions of the link libraries.
 .
 Both C and C++ bindings are present in this package.  Package
 libstdc++-dev is required to use the C++ bindings.  
 .
 The MPFR library (multiple-precision floating-point) used to be
 included, but has since been moved to package libmpfr-dev.

Package: lib64gmp10
Section: libs
Priority: optional
Architecture: powerpc
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Multiprecision arithmetic library (64bit library)
 GNU MP is a programmer's library for arbitrary precision
 arithmetic (ie, a bignum package).  It can operate on signed
 integer, rational, and floating point numeric types.  This
 package includes a 64 bit version of the shared library.
 .
 It has a rich set of functions, and the functions have a regular
 interface.

Package: lib64gmpxx4
Section: libs
Priority: optional
Architecture: powerpc
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Multiprecision arithmetic library (C++ bindings, 64bit)
 GNU MP is a programmer's library for arbitrary precision
 arithmetic (ie, a bignum package).  It can operate on signed
 integer, rational, and floating point numeric types.  This
 package includes a 64 bit version of the shared library.

Package: lib64gmp10-dev
Section: libdevel
Priority: optional
Architecture: powerpc
Depends: libgmp10-dev (= ${binary:Version}), lib64gmp10 (= ${binary:Version}), lib64gmpxx4 (= ${binary:Version}), ${misc:Depends}
Provides: lib64gmp-dev, lib64gmp3-dev
Conflicts: lib64gmp3-dev
Replaces: lib64gmp3-dev
Suggests: libgmp10-doc, libmpfr-dev
Description: Multiprecision arithmetic library developers tools (64bit)
 This development package provides the header files and the symbolic
 links to allow compilation and linking of programs that use the
 libraries provided in the libgmp10 package.  This package includes 64
 bit versions of the link libraries.
 .
 Both C and C++ bindings are present in this package.  Package
 libstdc++-dev is required to use the C++ bindings.  
 .
 The MPFR library (multiple-precision floating-point) used to be
 included, but has since been moved to package libmpfr-dev.

Package: libgmp10-doc
Section: doc
Priority: optional
Architecture: all
Depends: ${misc:Depends}
Description: Multiprecision arithmetic library example code
 This package provides example code illustrating the use of GMP.
